* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
/* ============================================================================================================= */
/* HEADER */
/* ============================================================================================================= */
.header {
    background-color: rgb(255, 255, 255);
    opacity: .7;
    font-family: 'Beau Rivage', cursive;
}
/* ============================================================================================================= */
/* MAIN */
/* ============================================================================================================= */
.container__main {
    background-color: #f0dfc8;
}

.main-h1 {
    color: white;
    font-family: 'Beau Rivage', cursive;
}

.beauty {
    color: #7C878E;
}

.brow {
    color: #7FA9AE;
}

.bar {
    color: #D7A3AB;
}

.imag {
    height: 40vh;
    object-fit: cover;
}
/* ============================================================================================================= */
/* FOOTER */
/* ============================================================================================================= */
.footer {
    background-color: rgb(255, 255, 255);
    font-family: 'Beau Rivage', cursive;
}

.icon {
    font-size: 60px;
}

.iconi {
    color: #7C878E;
}

.iconf {
    color: #7FA9AE;
}

.iconw {
    color: #D7A3AB;
}

.img__footer {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

/* ============================================================================================================= */
/* NOSOTROS */
/* ============================================================================================================= */
.nosotros {
    background-color: #f0dfc8;
}

.nosotros__font {
    font-family: 'Beau Rivage', cursive;
}

/* ============================================================================================================= */
/* SERVICIO */
/* ============================================================================================================= */
.servicios {
    background-color: #f0dfc8;
}

.card1 {
    background-color: #7C878E;
}

.card2 {
    background-color: #7FA9AE;
}

.card3 {
    background-color: #D7A3AB;
}


/* ============================================================================================================= */
/* SERVICIO OTRA PAG */
/* ============================================================================================================= */

.servicios__page {
    background-color: #f0dfc8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23d7a3ab' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");;
}

.lista {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}


.text-title {
    font-family: 'Beau Rivage', cursive;
    font-size: 55px;
}

.servicios_h1 {
    font-family: 'Beau Rivage', cursive
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

/* ============================================================================================================= */
/* BOTON */
/* ============================================================================================================= */

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }


/* ============================================================================================================= */
/* GALERIA */
/* ============================================================================================================= */


.gallery_container {
    padding: 1% 0;
    max-width: 100%;
    height: 150vh;
    gap: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "picture-1 picture-2 picture-3"
    "picture-4 picture-5 picture-6"
    "picture-7 picture-8 picture-9"
    ;
    }

.picture-1 {
    background-image: url(./galeria/1.jpeg);
    background-size: cover;
    grid-area: picture-1;
}

.picture-2 {
    background-image: url(./galeria/2.jpeg);
    background-size: cover;
    grid-area: picture-2;
}

.picture-3{
    background-image: url(./galeria/3.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-3;
}

.picture-4{
    background-image: url(./galeria/4.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-4;
}

.picture-5{
    background-image: url(./galeria/5.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-5;
}

.picture-6{
    background-image: url(./galeria/6.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-6;
}

.picture-7{
    background-image: url(./galeria/7.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-7;
}

.picture-8{
    background-image: url(./galeria/8.jpeg);
    background-size: cover;
    grid-area: picture-8;
}

.picture-9{
    background-image: url(./galeria/9.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: picture-9;
}

.grid-picture {
    filter: grayscale(100%);
}

.grid-picture:hover {
    filter: grayscale(0%);
}

@media only screen and (min-width: 768px) {
    

    .container_servicios {
        display: flex;
    }

    .img-fluid {
        width: 50%;
    }

    .main-h1 {
        color: white;
        font-family: 'Beau Rivage', cursive;
        font-size: 100px;
    }

    .textServicios {
        font-size: 100px;
        font-family: 'Oswald', sans-serif;
    }
    
    .price {
        font-size: 60px;
        font-weight: bold;
    }

    .text-title {
        font-family: 'Beau Rivage', cursive;
        font-size: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .main-h1 {
        color: white;
        font-family: 'Beau Rivage', cursive;
        font-size: 150px !important;
        padding-top: 200px;
    }
}


@media only screen and (min-width: 580px){
    .imag {
        height: 100vh;
        object-fit: cover;
    }
}

@media only screen and (max-width: 576px) {
    .gallery_container {
        padding: 1% 0;
        max-width: 100%;
        height: 150vh;
        gap: 5px;
        height: 300vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: "picture-1" "picture-2" "picture-3" "picture-4" "picture-5" "picture-6" "picture-7" "picture-8" "picture-9";
        }
}